---
interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---

<main class="main-card">
	<h2>{title}</h2>
	<p>{body}</p>

</main>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
	.main-card{
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		text-align: center;
	}
	h2{
		font-family: 'Silkscreen', sans-serif;
	}
	p{
		font-family: 'Nova Square', sans-serif;
	}
</style>
